<% provide(:title, 'Registries') %>
<section class="section">
  <%= link_to "Create new registry", new_calories_registry_path  %>
</section>
<br>
<div class="container is-widescreen">
  <div class="field has-addons">
    <%= form_tag(calories_registries_path, method: :get) do %>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box control">
            <%= label_tag :term, 'Comment' %><br>
            <%= text_field_tag :term, nil, placeholder: "Search by comment" %>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box control">
            <%= label_tag :mindate, 'Minimum date' %>
            <%= date_field_tag :mindate %>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box control">
            <%= label_tag :maxdate, 'Maximum date' %>
            <%= date_field_tag :maxdate %>
          </article>
        </div>
      </div>
      <div class="control">
        <%= submit_tag 'Search', class: "button is-info" %>
      </div>
    <% end %>
  </div>
</div>
<br><br>
<div class="container is-widescreen">
  <%= paginate @calories_registries %>
</div>
<%= render @calories_registries %>
<div class="container is-widescreen">
  <%= paginate @calories_registries %>
</div>
